/* Named colors from preliminary colorscheme. */
/* not used due to lack of time */
:root {
    --light-grey: #D7DBDA;
    --dark-grey: #A3B2B5;
    --brick-red: #AD4B02;
    --selected-brown: #432910;
  }  

:root {
    --background-dark: white;
    --background-light: white;
    --text-dark: white;
    --text-light: white;
    --accent-1: white;
    --accent-2: white;
}  

hr.vertical {
  border: 0;
  margin: 0;
  border-left: 5px solid black;
  height: 600px;
  float: left;
}
